include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include formisapp *.css
recursive-include formisapp *.csv
recursive-include formisapp *.html
recursive-include formisapp *.ico
recursive-include formisapp *.js
recursive-include formisapp *.json
recursive-include formisapp *.md
recursive-include formisapp *.png
recursive-include formisapp *.py
recursive-include formisapp *.svg
recursive-include formisapp *.txt
recursive-exclude formisapp *.pyc