include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include formis2 *.css
recursive-include formis2 *.csv
recursive-include formis2 *.html
recursive-include formis2 *.ico
recursive-include formis2 *.js
recursive-include formis2 *.json
recursive-include formis2 *.md
recursive-include formis2 *.png
recursive-include formis2 *.py
recursive-include formis2 *.svg
recursive-include formis2 *.txt
recursive-exclude formis2 *.pyc